body {
    background-color: blueviolet;
}

div#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0.5em;
    font-size: 2em;
}

button {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0.5em;

    background-color: rgb(153, 126, 252);
    border-width: 0.3em;
    border-color:rgb(255, 87, 87);
    color: rgb(209, 133, 107)

}

/* div {
    background-color: rgb(238, 253, 32);
} */